@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textsoft: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: rgb(2, 0, 36);
    background: linear-gradient(140deg, hsla(240, 100%, 5%, 1) 0%, hsla(240, 100%, 10%, 1) 30%, hsla(240, 100%, 20%, 1) 60%, hsla(240, 100%, 30%, 1) 100%);
    
    color: var(--textsoft);
  }
}

@media (prefers-color-scheme: light) {
  :root {

  }
}

.container{
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


