@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textlight: #ffffff;
  --textdark: #28282B;
  --darkBackground: linear-gradient( #403F44, #1e1B32);/*linear-gradient(140deg, hsla(240, 100%, 5%, 1) 0%, hsla(240, 100%, 10%, 1) 30%, hsla(240, 100%, 20%, 1) 60%, hsla(240, 100%, 30%, 1) 100%); */
  --lightBackground: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(122, 157, 255, 0.8) 50%, rgba(122, 157, 255, 0.8) 100%);
  --font-GeoLg: 'Geo-Lg'
};

html{
  font-family: var(--font-GeoLg);
}

@font-face {
  font-family: 'Geo-Lg';
  src: local('Geo-Lg'), url(Geo-Lg.woff);

}

code {
  font-family: 'Geo-Lg' , source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: rgb(2, 0, 36);
    background: linear-gradient(140deg, hsla(240, 100%, 5%, 1) 0%, hsla(240, 100%, 10%, 1) 30%, hsla(240, 100%, 20%, 1) 60%, hsla(240, 100%, 30%, 1) 100%);
    
    color: var(--textlight);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(122, 157, 255, 0.8) 50%, rgba(122, 157, 255, 0.8) 100%);

    color: var(--textdark);
  }
}

.container{
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


